body, html {
  height: 100%;
}
#achtergrond{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  background-color: #000000;
  color: #FFFFFF;
  font-family: passion one;
  font-size: 40px;
  text-align: center;
  padding: 20px 10px 20px 10px;
  margin: 5px 750px 0px 600px;
  float: right;
}
#logo {
  height: 8%;
  width: 5%;
  margin-top: 5px;
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d3d3d3;
  margin-top: 150px;
}
#balk {
  float: left;
}
#balk a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#balk a:hover {
  background-color: #939393;
}
#fotos1 {
  height: 20%;
  width: 15%;
}
#namen a {
  text-decoration: none;
  font-family: sans-serif;
  color: #000000;
  font-size: 17px;
}
table, th, td {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
}

th, td {
  font-family: 'Lato', arial;
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 3.3333%;
}
thead th {
  background: #999d9f;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 4px;
  text-transform: uppercase;
}
p {
  font-size: 17px;
  font-family: sans-serif;
  text-align: left;
}
#overzicht {
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
}
